<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <record id="website_seller_menu" model="website.menu">
            <field name="name">Seller</field>
            <field name="url">/vehicle/seller</field>
            <field name="parent_id" ref="website.main_menu"/>
            <field name="sequence" type="int">1</field>
        </record>

        <record id="website_buyer_menu" model="website.menu">
            <field name="name">Buyer</field>
            <field name="url">/vehicle/buyer</field>
            <field name="parent_id" ref="website.main_menu"/>
            <field name="sequence" type="int">2</field>
        </record>
    </data>
</odoo>